*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.flex-container{
	display: flex;
}

.navegador.flex-container{
	justify-content: space-around;
	align-items: center; 
	cursor: pointer;
	background: #FF8DD9;
}

.navegador a{
	width: 100%;
	text-decoration: none;
	padding: 20px;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
}

.navegador a:hover{
	background-color: #BA507F;
	color: #000;
	font-style: italic;
}

#hamburguesa.flex-container{
	justify-content: flex-end;
	background-color: #3F3F3F;
	color: white;
	padding: 10px;
}
#hamburguesa fa-bars:hover{
	color: #BA507F;
}

