
@media (min-width: 200px) and (max-width: 768px){
	.navegador.flex-container{
	flex-direction: column;
	cursor: pointer;
	justify-content: flex-start;
	align-items: center;
	border: 20px;
	}

	a{
	text-decoration: none;
	color: black;
	background-color: #3F3F3F
	}

	a:hover{
	color: #FF8DD9;
	}
	.hidden{
		display: none;
	}
}

@media (min-width: 769px) and (max-width: 1200px){
	#hamburguesa{
		display: none;
	}
}